body {
  background-color: #F5FCFF;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
footer {
  background-color: #7A7E80;
  color: #F5FCFF;
  padding: 20px;
  padding-right: inherit;
  margin-top: 20px;
}
h1 {
  margin: 0;
  color: #2B6380;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: 100;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #2B6380;
  font-size: 2.5rem;
  font-weight: 500;
}
h3 {
  font-family: 'Montserrat', sanerif;
  color: #2B6380;
  font-size: 1.5rem;
  font-weight: 900;
}
p {
  color: black;
  weight: 700;
}
hr {
  border: none;
  border-top: 8px dotted;
  width: 6%;
  border-color: #C4C9CC;
  margin-bottom: 20px;
}
a {
    text-decoration: none;
}

.top-container {
  margin-top: 0;
  background-color: #A8E2FF;
  position: relative;
  padding-top: 80px;
}
.middle-container {
  background-color: #F5FCFF;
}
.bottom-container {
  background-color: #F5FCFF;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  line-height: 2;
}
.mountain {
  width: 658px;
  padding-top: 40px;
}
.top-birds {
  width: 200px;
  position:absolute;
  top: 250px;
  right: 200px;
}
.bottom-birds {
  width: 150px;
  position: absolute;
  bottom: 200px;
  left: 250px;
}

.me {
  width: 200px;
  margin-top: 50px;
}
.author {
  color: #F5FCFF;
  padding-bottom: 20px;
  font-size: 0.8rem
}
.attribute {
  padding-top: 10px;
  text-decoration: none;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 10px;
  line-height: 0.8;
  color: #F5FCFF;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fight-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.sandwich-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-row {
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.profile {
  width: 30%;
  margin: auto;
  line-height: 2;
  margin-bottom: 100px;
}
.skills {
  margin-top: 100px;
}
.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding: 10px;
}

#btn {
   background: #2B6380;
   background-image: -webkit-linear-gradient(top, #2B6380, #2B6380);
   background-image: -moz-linear-gradient(top, #2B6380, #2B6380);
   background-image: -ms-linear-gradient(top, #2B6380, #2B6380);
   background-image: -o-linear-gradient(top, #2B6380, #2B6380);
   background-image: linear-gradient(to bottom, #2B6380, #2B6380);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #F5FCFF;
   font-family:'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 900;
   padding: 12px;
   text-shadow: 0 0 16px #0B0B0B;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}

#btn:hover {
   background: #7A7E80;
   color: #A8E2FF;
   background-image: -webkit-linear-gr2B6380nt(top, #7A7E80, #7A7E80);
   background-image: -ms-linear-gradient(top, #7A7E80, #7A7E80);
   background-image: -o-linear-gradient(top, #7A7E80, #7A7E80);
   background-image: linear-gradient(to bottom, #7A7E80, #7A7E80);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

a:link {
  color: #A8E2FF;
}
a:visited {
  color: #A8E2FF;
}
a:hover {
  color: #C4C9CC;
}
