body {
  background-color: #FCFCF7;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
footer {
  background-color:#F5A48A;
}
h1 {
  margin: 0;
  color: #021744;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: 100;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #021744;
  font-size: 2.5rem;
  font-weight: 500;
}
h3 {
  font-family: 'Montserrat', sanerif;
  color: #021744;
  font-size: 1.5rem;
  font-weight: 900;
}
p {
  color: #0B0B0B;
}
.top-container {
  margin-top: 0;
  background-color: #C8FEF7;
  position: relative;
  padding-top: 80px;
}
.middle-container {
  background-color: #FCFCF7;
}
.bottom-container {
  background-color: #FCFCF7;
}
.mountain {
  width: 658px;
  padding-top: 50px;
}
.top-birds {
  width: 200px;
  position:absolute;
  top: 250px;
  right: 200px;
}
.bottom-birds {
  width: 150px;
  position: absolute;
  bottom: 200px;
  left: 250px;
}
.me {
  height: 300px;
  width: 300px;
  margin: 100px 0;
}
.author {
  padding-top: 20px;
}
.attribute {
  padding-bottom: 10px;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fight-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 1.5;
}

a:link {
  color: #6876CF;
}
a:visited {
  color: #58385F;
}
